
footer{
    grid-area: ft;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
  }
  
  #github{
      width: 25px;
      transition: transform 0.3s ease-in-out;  
  }
  
  #github:hover {
      transform: rotate(360deg) scale(1.2);
    }