@import "navbar.css"; 
@import "footer.css";
@import "header.css";

body{
font-family: sans-serif;
}


#grid-container{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-areas:'hd'
'nav' 
'main'
'ft';
height: 100vh;
grid-template-rows:100px 80px auto 100px;
}

#posts-container{
    border-radius: 10px;
    background-color:aliceblue;
    display: grid;
    grid-template-columns: 45% 45%;
   justify-content:space-evenly;
grid-area: main;
padding-bottom: 20px;
margin-bottom: 20px;
margin-top: 20px;
align-items: center;
}

.post-card{
    background-color: white;
    border: 4px solid orange;
display: flex;
flex-direction: column;
text-align: start;
padding-left: 10px;
margin-top: 10px;
height: 180px;
border-radius: 10px;
padding: 20px;
}

#img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    height: 228px;
    border-radius: 10px;
    
  }
  #subscribe{
    margin-top: 20px;
    grid-column: 1/all;
    display: flex;
    justify-content: center;
    
  }
  #subscribe-btn{
   width: 140px;
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;
   outline: none;
   border: 3px solid black;
   cursor: pointer;
   font-size: 1em;
  }

#about{
    word-wrap: break-word;
    display: flex;
   justify-content: center;
   flex-direction: column;
   text-align:left;
   margin-left: 5%;
   margin-right: 5%;
}

footer{
    grid-area: ft;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
  }
  
  #github{
      width: 25px;
      transition: transform 0.3s ease-in-out;  
  }
  
  #github:hover {
      transform: rotate(360deg) scale(1.2);
    }


    @media only screen and (max-width: 600px) {
       
        #posts-container{
            grid-template-columns: auto;
        } 
         .post-card{
             margin-left: 5%;
             margin-right: 5%;
         }
         #img {
            margin-left: 5%;
             margin-right: 5%;
             width: 90%;
                      }
    
       
      }